@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	font-family: 'Quicksand', sans-seri;
}

.jumbotron {
	border-radius: 0px !important 
}

.fundo--blue {
	background-color: 	#1E90FF !important;
}